/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
.gform_wrapper .top_label .gfield_label {
    line-height: 1em;
}
.fl-button-text, .fl-button span, .uabb-button span{
      vertical-align: bottom!important;
}
.custom_searchHeader > .fl-module-content {
	    margin-bottom: 6px!important;
}
.uabb-button{
	text-decoration: none!important;
}
.social .fl-rich-text > p {
    display: none!important;
}
ul.social-icons a i:before{
    font-size: 38px;
}
ul.social-icons li{
    margin-bottom: 0px!important;
    margin-right: 30px;
}
.brandRow .fl-row-content{
	max-width: 100%!important;
}
.ipadfontissue .uabb-ultb3-title {
  font-size: 20px!important;
}
.brandSlider.center .slick-track {
	margin: 0 auto!important;
}
.custom_searchModule { 
	display: none; 
	z-index: 999;
	position: absolute;
    width: 100%;
    max-width: 1440px;
	left:0;
	right: 0;
	margin: 0 auto;
	border: 1px solid #241e20;
} 
.custom_searchModule input[type=search] {
	height: 45px;
	padding: 6px;
	font-family: 'Spartan';
	font-weight: 600;
	font-size: 18px;
}
.tempManage {
	position: relative;
    top: -20%;	
}
.locationTable thead{
    display: none!important;
}
.blogSidebar .widgettitle{
	font-size: 22px!important;
}
.blogSidebar  input[type=search] {
	height: 45px;
	padding: 10px;
}
.home-slider-info .uabb-infobox-title-wrap .uabb-infobox-title-prefix{
	margin-left: 80px;
}
.cta-row-call .uabb-infobox-text > p:nth-child(1){
	display: none;			
}
.brandSlider .slick-track {
/* 	display: flex;
    align-items: center; */
}
.gform_wrapper .gfield .gfield_time_ampm select	{
	height: 48px;
}

/* Location Filter css start here   */
.filter-locations .fl-col-content > div {
    width: 33.33%;
}
.filter-locations .fl-col-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.filter-locations .fl-col-content .location-col .uabb-infobox-title-wrap, .filter-locations .fl-col-content .location-col .uabb-infobox-text-wrap{
    padding: 0px 20px;
}
.filter-locations .fl-col-content .location-col .uabb-infobox-content{
    padding-bottom: 20px;
}
.loc_hrs > p:first-child{
    padding: 0px;
    line-height: 1em;
    margin-top: 20px;
}
.loc_services-heading{
    margin-top: 10px;
}
.location-col .store-opening-hrs > li:first-child{
	margin-top: 0px!important;	
}
a.roomvoButton{
	    font-family: Spartan, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2em;
    letter-spacing: 0.74px;
    text-align: left;
    text-transform: uppercase;
	max-width: 300px;
	width: 100%;
    min-height: 65px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #BF936B;
    border: 1px solid #BF936B;
	display: flex!important;
}
a.roomvoButton:hover, .plp-view-product:hover{
    background: #000;
    border: 1px solid #BF936B;
	text-decoration: none!important;
}
.plp-view-product, .plp_box_btn{
	text-align: center;
	font-family: Spartan, sans-serif;
    font-weight: 700!important;
    font-size: 18px!important;
    line-height: 1.2em;
    letter-spacing: 0.74px;
    text-align: left;
    text-transform: uppercase;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #BF936B;
    border: 1px solid #BF936B;
	display: flex!important;
	color: #fff!important;
	padding: 16px!important;
    text-align: center!important;

}
.DataFoundOrNot{
	display: none;
}
.uabb-blog-posts .uabb-blog-post-content a{
	outline: none!important;
	border: none!important;
}
.dataPhone {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.dataPhone .storename{
    margin-bottom: 0px;
}
.dataPhone .storename {margin-left: 10px;}
.dataPhone .storename li .phone a:before {
    content: "\f095";
    font-family: FontAwesome;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    vertical-align: middle;
    margin: 2px 5px 0 0;
    font-weight: 400;
    font-size: 28px;
    color: #000;
}
.dataPhone .phone a span{
	color: #000!important;
	font-size: 20px!important;
	font-weight: bold!important;
}
.cta .dataPhone {
    justify-content: flex-start; 
    font-size: 14px!important;
    flex-wrap: wrap!important;
    margin-top: 10px;
}
.desc-center .uabb-infobox-text a{
     margin-left: 16%; 
}
.desc-center2 .uabb-infobox-text a{
     margin-left: 28%; 
}
.cta .dataPhone *{ 
    font-size: 14px!important;
}
.cta .dataPhone .storename .phone a span{ 
    font-size: 14px!important;
}
.cta .dataPhone .storename li .phone a:before{ 
    font-size: 16px!important;
}
.loc_services-tab-state .active h3,  .loc_services-tab .active h3{
    color: #bf936b!important;
}
.loc_services-tab-state h3,  .loc_services-tab  h3{
    margin: 0px!important;
}
/* .custom_searchModule ::-webkit-input-placeholder { 
  text-transform: uppercase!important;
  color: #7E7E7E; 		
}
.custom_searchModule :-ms-input-placeholder {  
   text-transform: uppercase!important;
   color: #7E7E7E; 	
}
.custom_searchModule ::placeholder {
  text-transform: uppercase!important;
  color: #7E7E7E; 	
} */

.FloorteBtn .fl-callout-text a{
    color: #56728d !important;
}
.top-bar-nav ul#menu-top-bar-menu li a, .top-bar-nav ul#menu-top-bar-menu li a * ,
.fl-page-bar-text font span{
    font-size: 14px !important;
}
.fl-page-bar a *,
.fl-page-bar a *:hover{
    color: #fff !important;
    font-size: 14px;
}

.fa-2x {
    font-size: 18px !important;
    vertical-align: text-bottom !important;
}
 .Floorvan_form a{
	color: #56728d!important; 
}
.sbi_header_text h3, .sbi_header_text p {
    margin-bottom: 10px!important;
}
.sbi_header_text p {
    font-weight: 600;
    font-size: 16px;
	line-height: 1.5em!important;
}
.sbi_header_text{
        display: flex;
    flex-direction: column;
}
/*footer .iPadFooter.fl-row-bg-color   .fl-row-content-wrap{
    background-color: #56728d;
}*/
ul.social-icons li a:hover i {
    color: #56728d;
}

.privacy-policy-row .storename, .privacy-policy-row .phone{
    display: inline-block
}
#menu-item-507185 .storename li .phone span::before,
#responsive-menu-additional-content .storename .phone a span::before{
    content: "\f1f8";
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 5px;
}
.searchIcon {
    position: absolute;
    right: 10px;
    top: 25px;
}
.ui-datepicker-title select{
    color: #414042;
}
.fl-page-bar-row {
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchModule {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9;
    background: #c9c1b4;
}
.d-none .fl-heading span{
    font-size: 0px !important;
}
.headerMain .fl-col-group {
    display: flex;
    justify-content: space-between;
}
.gform_wrapper .gfield_time_hour input, 
.gform_wrapper .gfield_time_minute input {
    
    width: calc(5rem + 8px) !important;
}
.gform_wrapper .gfield_time_hour i{
    position: relative;
}
.gform_wrapper .field_sublabel_below div[class*=gfield_time_].ginput_container label {
    margin: 1px 0 9px 13px !important;
}
.gfield_time_ampm > select {
	min-width: 80px!important;
}
.gfield .hour_minute_colon {
	display: flex;
    align-items: center!important;	
}
.gfield .gfield_label{
	margin-bottom: 0px!important;
}
.gfield .gfield_label {
	border-bottom: 0px!important;
}
.cta-row-call .uabb-infobox-text > p {
	margin: 0px!important;
	padding: 0px!important;
}
body .gform_legacy_markup_wrapper .top_label div.ginput_container {
    margin-top: 0px!important;
}
.loc_add,
.loc_phone {
    display: flex;
}
.store-opening-hrs-container ul li {
    margin: 10px;
}
.location-top .store-opening-hrs-container ul li {
	margin: 20px;
}
.loc_add .address p { padding: 0px!important; margin: 0px!important; }
.fullWidthBanner img {
    width: 100%;
}
.gform_wrapper .gfield_required {
    color: #c02b0a;
    display: inline-block;
    font-size: 28.008px!important;
    padding-left: 0em!important;
}
.location-get-direction .direction > a{
    font-family: Spartan, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 1px;
    border: 1px solid #f3f3f3;
    border-style: solid;
    border-width: 0;
    background-clip: border-box;
    border-color: #e3be84;
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 300px;
    background: #ffffff;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: none;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 16px;
    padding-left: 40px;
}
.location-get-direction .direction > a span {
    color: #000;
}

.location-get-direction .direction > a:hover{
    border: 1px solid #b3875f;
    border-style: solid;
    border-width: 0;
    background-clip: border-box;
    border-color: #BF936B;
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background: #BF936B;
}
.location-get-direction .direction > a:hover span {
    color: #fff;
}
.phone>a {
    font-weight: 400;
    color: #3b5267;
}

.iscwp-gallery-slider .slick-dots li button {
    border: 1px solid #949494;
}

.gform_wrapper .gfield_checkbox li input, .gform_wrapper .gfield_checkbox li input[type=checkbox]{
    margin-top: 0px!important;
}
.gform_wrapper ul.gform_fields li.gfield select{
    padding: 14px 5px!important;
    min-width: 60px;
}
.gform_wrapper .gfield_time_hour i{
    margin-top: 16px!important;
}
.iscwp-gallery-slider .slick-dots li.slick-active button {
    background: #949494;
}
.fl-page-bar-row .fl-page-bar-text-2 {
    padding: 10px 0 0 0;
}
.fl-page-bar-row .fl-page-bar-text-2 a{
    font-size: 16px;
}
.fl-page-bar-row .fl-page-bar-text-2 i{
    font-size: 18px;
    margin-right: 5px;
    vertical-align: -3px;
}
.fl-page-bar-nav .menu-item .storename li .phone a:before{
    content: "\f095";
    font-family: FontAwesome;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    vertical-align: middle;
    margin: 2px 5px 0 0px;
    font-weight: 400;
    font-size: 18px;
}
#product-images-holder.colorwall-exlusive-batch .popup-imgs-holder .main-imgs{
    max-height: 456px;
}
.filter-locations .fl-col-content .location-col .uabb-infobox-title-wrap, .filter-locations .fl-col-content .location-col .uabb-infobox-text-wrap{
    padding: 0px 20px!important;
}
.filter-locations .fl-col-content .location-col .uabb-infobox-content {
    padding-bottom: 20px!important;
}
.filter-location .location-col .fl-module-content.fl-node-content {
    padding: 0px !important;
    background: #fff !important;
}
.gform_wrapper  fieldset.gfield{
    margin-top: 10px!important;
}
.gform_wrapper .ginput_container.ginput_container_checkbox input, .gform_wrapper .ginput_container.ginput_container_radio input {
    vertical-align: top!important;
}
.wrapper-filter {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.wrapper-filter > div.filter-item{
  padding: 20px;
   flex: 1 1 auto; 
}
.wrapper-filter > div.filter-item h3{
    font-size: 30px;
}
.wrapper-filter > div.filter-item select{ 
   width: 100%;
   padding: 10px;
   color: #BAB5B5;
   font-size: 15px;
   border-style: solid;
    border-width: 0;
    background-clip: border-box;
    border: 1px solid #D4D4D4;
    border-radius: 0px;
    height: 48px;  
    background: #ffffff;
    outline: none;
}
.desk-header-mob .fl-html {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.desk-header-mob .fl-html .phone-header {
    padding-left: 20px;
}
footer .fl-rich-text p {
	margin: 0px!important;
}
.locationTable .table-header-th {display: none!important;}
.fl-content-slider-navigation > a{
	background-color: #c4c1c1;
    padding: 10px;
    border-radius: 50%;
}



.teamRow .fl-col .fl-module.fl-module-info-box .uabb-infobox-text-wrap {
    display: none;
}
.teamRow .fl-col.fl-col-small .fl-col-content.fl-node-content {
    position: relative;
	  cursor: pointer;
}
.teamRow .fl-col.fl-col-small .fl-col-content.fl-node-content:hover .fl-module.fl-module-info-box .uabb-infobox-text-wrap {
    display: block;
}

.teamRow .fl-col.fl-col-small .fl-col-content.fl-node-content:hover .fl-module.fl-module-info-box {
    position: absolute;
    bottom: auto;
    left: 0;
    right: 0;
    background: #ffffffe6;
    border-radius: 20px;
    border: 2px solid #000000;
    margin-top: -60px;

}
.teamRow .fl-col.fl-col-small .fl-col-content.fl-node-content:hover .fl-module.fl-module-info-box:before {
    width: 10px;
    height: 10px;
    border-bottom: solid 10px #000;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
    content: '';
    position: absolute;
    top: -11px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 99;
}
.teamRow .fl-col.fl-col-small .fl-col-content.fl-node-content:hover .fl-module.fl-module-info-box .uabb-infobox-text-wrap .uabb-infobox-text.uabb-text-editor p br {
    display: none;
}
.teamRow .fl-col.fl-col-small .fl-col-content.fl-node-content:hover .fl-module.fl-module-info-box .uabb-infobox-text-wrap .uabb-infobox-text.uabb-text-editor p a:nth-child(1),
.teamRow .fl-col.fl-col-small .fl-col-content.fl-node-content:hover .fl-module.fl-module-info-box .uabb-infobox-text-wrap .uabb-infobox-text.uabb-text-editor p a.info1 {
  
	text-transform: capitalize !important;
	font-family: dashicons;
    display: inline-block;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    speak: never;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 20px;
    height: 20px;
    font-size: 20px;
    vertical-align: top;
    text-align: center;
    transition: color .1s ease-in;
    float: left;
}
.teamRow .fl-col.fl-col-small .fl-col-content.fl-node-content:hover .fl-module.fl-module-info-box .uabb-infobox-text-wrap .uabb-infobox-text.uabb-text-editor p a:nth-child(1) span,
.teamRow .fl-col.fl-col-small .fl-col-content.fl-node-content:hover .fl-module.fl-module-info-box .uabb-infobox-text-wrap .uabb-infobox-text.uabb-text-editor p a.info1 span {
    visibility: hidden;
}
.teamRow .fl-col.fl-col-small .fl-col-content.fl-node-content:hover .fl-module.fl-module-info-box .uabb-infobox-text-wrap .uabb-infobox-text.uabb-text-editor p a:nth-child(1):before,
.teamRow .fl-col.fl-col-small .fl-col-content.fl-node-content:hover .fl-module.fl-module-info-box .uabb-infobox-text-wrap .uabb-infobox-text.uabb-text-editor p a.info1:before
 {
    content: "\f465";
}
.teamRow .fl-col.fl-col-small .fl-col-content.fl-node-content:hover .fl-module.fl-module-info-box .uabb-infobox-text-wrap .uabb-infobox-text.uabb-text-editor p a:nth-child(3),
.teamRow .fl-col.fl-col-small .fl-col-content.fl-node-content:hover .fl-module.fl-module-info-box .uabb-infobox-text-wrap .uabb-infobox-text.uabb-text-editor p a.info2 {
    float: right;
}
.teamRow .fl-col.fl-col-small .fl-col-content.fl-node-content:hover .fl-module.fl-module-info-box .uabb-infobox-text-wrap .uabb-infobox-text.uabb-text-editor p a:nth-child(3) span:before,
.teamRow .fl-col.fl-col-small .fl-col-content.fl-node-content:hover .fl-module.fl-module-info-box .uabb-infobox-text-wrap .uabb-infobox-text.uabb-text-editor p a.info2 span:before {
    content: "\f095";
    font-family: FontAwesome;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    line-height: 16px;
}
.teamRow .fl-col-group > .colHeight {
    min-height: 380px;
    max-height: 380px;
}

.teamRow .fl-col .fl-module.fl-module-info-box .uabb-module-content.uabb-infobox.infobox-left.infobox-responsive-center {
    text-align: center;
}


.teamRow .fl-col  .uabb-imgicon-wrap .uabb-image-content img {
    box-sizing: border-box;
    display: block;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
/* css for about page timeline */
.uabb-events-inner-new .uabb-content {
    position: relative;
    z-index: 1;
    
}
.uabb-timeline-right .uabb-events-inner-new .uabb-content {
    border-top: 30px solid #ffd036;
    margin-top: 80px;
    margin-right: 50px;
    text-align: left;
}
.uabb-timeline-left .uabb-events-inner-new .uabb-content {
    border-top: 30px solid #ffd036;
    margin-top: 80px;
    margin-left: 50px;
}
.uabb-timeline-right .uabb-timeline-marker-wrapper:after {
    content: "";
    position: absolute;
    width: 70px;
    border-bottom: 4px solid #000;
    right: 20px;
    z-index: -1;
}
.uabb-timeline-right .uabb-day-new.uabb-day-right:after{
   content: "";
    position: absolute;
    width: 110px;
    top: 64px;
    transform: rotate(130deg);
    border-bottom: 4px solid #000;
    right: 1px;
    z-index: 0;
display: inline-block; 
}

.uabb-timeline-left .uabb-timeline-marker-wrapper:after {
    content: "";
    position: absolute;
    width: 70px;
    border-bottom: 4px solid #000;
    left: 20px;
   z-index: -1;
}
.uabb-timeline-left .uabb-day-new.uabb-day-left:after{
   content: "";
    position: absolute;
    width: 110px;
    top: 64px;
    transform: rotate(50deg);
    border-bottom: 4px solid #000;
    left: 1px;
    z-index: 0;
display: inline-block; 
}

.fl-col .uabb-timeline--center .uabb-timeline__line {
   background-color: #000!important;
   width: 4px;
}

.uabb-timeline__line:before {
   content: "";
    position: absolute;
    width: 30px;
   height: 30px;
    border: 6px solid #000;
    border-radius: 100%;  
    left: -13px;
    top: -25px;
    right: auto;  
}
.uabb-timeline__line__inner{
    background-color: #BF936B!important;
}
 .uabb-timeline-main .uabb-days .in-view .in-view-timeline-icon .timeline-icon-new {
    color: #BF936B!important;
}
h3.uabb-timeline-heading {
    font-weight: 600!important;
    font-size: 26px!important;
}
h3.uabb-timeline-heading .yearT {
    font-weight: 700!important;
    font-size: 32px!important;
}
@media(min-width:1024.5px) {

	.uabb-timeline-field.animate-border:not(:first-child) {
		margin-top: -300px;
	}
	.uabb-timeline-module.uabb-timeline-left .uabb-content {
		text-align: right!important;
	}
	.uabb-timeline-item-1, .uabb-timeline-item-2, .uabb-timeline-item-3, .uabb-timeline-item-4, .uabb-timeline-item-5 {
		margin-top: -400px!important;
	}
}
@media(min-width:1024px) {
.fl-page-bar .fl-page-bar-nav>li>a {
    padding: 2px 60px!important;
}
	.forMobile.menu-item{
		display: none!important;
	}

}
@media(max-width: 1368px) {
	.gfield.ipadLand {
		grid-column: span 12!important;
	}
	.gfield.ipadLand .ginput_container input {
		width: 100%!important;
	}
}
@media(max-width: 1200px) {
.filter-locations .fl-col-content > div {
    width: 50%;
}
	.catCols .uabb-module-content h2 {
		font-size: 30px!important;
	}
}
@media(max-width:1024px) {
	.ipadFont h1{
		font-size: 30px!important;
		line-height:1.3em!important;
	}
	.desc-center2 .uabb-infobox-text a, .desc-center .uabb-infobox-text a {
		margin-left: 0%!important;
	}
	#search_wrapper > div, .menuCol > div {
		    justify-content: center!important;
	}
	.hideIPadLand{
		display: none!important
	}
	.uabb-creative-menu.uabb-creative-menu-accordion-collapse #menu-main-menu-1  ul.sub-menu > li.menu-item.uabb-creative-menu > .uabb-has-submenu-container > a:hover span.menu-item-text {
		color: #fff!important;
	}
	.uabb-creative-menu  #menu-main-menu-1 ul.sub-menu > li.menu-item.uabb-creative-menu > a:hover span.menu-item-text {
		color: #fff!important;
	}
	.menu-item .phone-header {
		justify-content: flex-start;
		padding: 10px 0px!important;
	}
	.menu-item .phone-header > span {
		color: #fff!important;
	}
    .fl-node-5d08ac826d1d6 .uabb-creative-menu .menu>li {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .headerMain .headerRightNav {
        margin-left: 30px;
    }

    .fl-node-5d08ac826d1d6 .uabb-creative-menu.uabb-menu-default .menu>li>.uabb-has-submenu-container>a {
        padding: 10px 8px !important;
    }
	.servicesRowLoc .uabb-infobox-title-wrap h3{
		font-size: 28px!important;
	}
	.servicesRowLoc.segments .fl-col-group > .fl-col{
	  width: 50%;  
	}
	.loc_services-tab-state h3, .loc_services-tab h3 {
		margin: 0px!important;
		font-size: 20px;
	}
    .teamRow .fl-col-group>.colHeight {
        min-height: 340px;
        max-height: 340px;
    }
	
	.uabb-timeline-right .uabb-timeline-marker-wrapper:after {
    content: "";
    position: absolute;
    width: 70px;
    border-bottom: 4px solid #000;
    left: 20px;
   z-index: -1;
}
.uabb-timeline-right .uabb-day-new.uabb-day-right:after, .uabb-timeline-left .uabb-day-new.uabb-day-left:after{
   content: "";
    position: absolute;
    width: 110px;
    top: 64px;
    transform: rotate(50deg);
    border-bottom: 4px solid #000;
    left: 5px!important;
    z-index: 0;
    right: auto!important;
display: inline-block; 
}
.uabb-timeline-right .uabb-events-inner-new .uabb-content {
    border-top: 30px solid #ffd036;
    margin-top: 80px;
    margin-left: 60px;
    margin-right: 0px;
}

}
@media (min-width: 768px){
    .fl-page-bar .text-right .fl-page-bar-nav {
        text-align: center;
    }
	
}
@media(max-width: 992px) {
	.location-top .fl-rich-text > p{
	  margin: 0px!important;
	  padding: 0px!important;
	}
	.location-top .store-opening-hrs-container{
		max-width: 400px;
    	margin: 0 auto;
	}
	.location-get-direction .fl-html > .direction{
		margin: 0 auto;
	}
	.max500 img{
		max-width: 500px!important;
		width: 100%;
		margin: 0 auto;
		display: block;
	}
}
@media(max-width:768px) {
	.locationTable tbody .tbody-row:last-child .table-body-td:last-child  {
		display: none!important;
	}
	.loc_services .item h4 {
		font-size: 12px;
	}
	.gform_wrapper .ginput_container.ginput_container_checkbox input, .gform_wrapper .ginput_container.ginput_container_radio input {
    vertical-align: top!important;
}
	.catCols .fl-module .fl-module-content{
		margin-left: 20px!important;
		margin-right: 20px!important;
	}
	.catCols .fl-module .fl-module-content h2{
		font-size: 30px!important;
	}
	.home-slider-info .uabb-infobox-title-wrap .uabb-infobox-title-prefix {
     	margin-left: 0px; 
	}	
    /* .searchIcon {
        position: absolute;
    } */

    /* button#responsive-menu-button {
        top: 0 !important;
    } */
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content{
        padding: 0 !important;
    }
    #responsive-menu-container #responsive-menu-search-box, 
    #responsive-menu-container #responsive-menu-additional-content, 
    #responsive-menu-container #responsive-menu-title {
        padding: 10px 5% !important;
    }
    .fl-page-header-logo{
        text-align: left;
    }
    .fl-page-nav-right .fl-page-nav-wrap{
        display: none;
    }
    .headerMain .fl-col-group {
        display: flex;
        align-items: center;
    }

    .headerMain .headerRightNav {
        margin: 0;
    }

    .headerMain .headerLogo {
        flex: 2;
    }
    .w-100{
        width: 100%;
    }
    .headerMain .phone.retailer {
        font-size: 26px;
        color: #3b5267;
        margin-right: 30px;
        vertical-align: middle;
        font-family: 'Ultimate-Icons' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .headerMain .phone.retailer:before {

        content: "\ea3e";

    }
    .headerMain .phone.retailer span{
        font-size: 0;
    }

    .iPadFooter .fl-col-group {
        display: flex;
    }

    .iPadFooter .fl-col-group .fl-col {
        flex: 1;
    }

    ul#menu-copyright-bar-menu {
        display: flex;
    }

    .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col {
        flex: 3;
    }

    .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col:nth-child(2) {
        flex: 1;
    }
    .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item {
        width: 33.33%;
    }
    
    .galleryImages .uabb-photo-gallery {
        display: flex;
        flex-wrap: wrap;
    }
    .max-width-issue{
        max-width: 400px !important;
        margin: 0 auto !important;
    }
/* --------------Footer css start here-------------- */	
.footerBlack .fl-col-group:last-child > .fl-col {
    width: 48%!important;
}	

/* --------------Tablet view css start here-------------- */		
	.max400 img{
		display: block;
		margin: 0 auto;
		max-width: 400px!important;
		width: 100%;
	}	
	.location-get-direction .fl-html > .direction{
		    margin: 0 auto;
	}
	/*---------- Team page css start here ----------*/
	.teamRow .fl-col-group > .fl-col {
		width: 95%!important;
	}
	.teamRow .fl-col-group .fl-col .uabb-image-content{
		display: block!important;
	}
	.teamRow .fl-col-group .fl-col .uabb-image-content img{
	   max-width: 400px!important;
	   display: block!important;
	   margin: 0 auto!important;    
	   width: 100%!important;
	}
	.listPad ul{
		padding-left: 10px!important;		
	}
	.max500.listPad .fl-col{
		width: 100%!important;
		max-width: 100%;
	}
	.tempManage {
		display: none!important;
	}
	.cta .uabb-module-content{
	  text-align: left;
	}
	.cta .col{
		max-width: 400px;
		margin: 0 auto;
		float: none;
	}
	.cta .dataPhone {
		justify-content: flex-start;
		font-size: 14px!important;
		flex-wrap: wrap!important;
		margin-top: 10px;
		flex-direction: column;
		align-items: flex-start;
	}
	.cta .dataPhone > p{
		display: none;
	}

	.desc-center .uabb-infobox-text a {
		margin-left: 0%;
	}
	.desc-center2 .uabb-infobox-text a {
		margin-left: 0%;
	}
    .teamRow .fl-col-group > .colHeight {
        min-height: 500px;
        max-height: 500px;
    }
    .teamRow .fl-col-group > .colHeight {
        margin: 0 20px !important;
    }
	.teamRow .fl-col-group.fl-col-group-custom-width, .teamRow  .fl-col-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:767px) {
	ul#menu-copyright-bar-menu {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.maxInfo .uabb-button{
		max-width: 300px!important;
	}	
    .highlightPoits .fl-col-group .fl-col {
        width: 100% !important;
    }
    .highlightPoits .fl-col-group .fl-col .fl-col-content {
        border: 0;
    }
    button#responsive-menu-button{
        top: 110px !important;
    }
    .fl-page-bar-text font,
    .top-bar-nav ul#menu-top-bar-menu li a, .top-bar-nav ul#menu-top-bar-menu li a * {
        font-size: 12px !important;
    }
    .headerRightNav .fl-node-5d230a5e00677 .fl-rich-text >p{
        margin-bottom: 0 ;
    }
    .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav .navbar-toggle{
        display: none !important;
    }
    #responsive-menu-container #responsive-menu-additional-content, 
    #responsive-menu-container #responsive-menu-title ,
    #responsive-menu-container #responsive-menu-search-box{
        padding: 10px 5% !important;
    }
    #responsive-menu-additional-content .storename li .phone span::before{
        content: "\f1f8";
        font-family: "foundation-icons";
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        text-decoration: inherit;
        margin-right: 5px;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content{
        padding: 0 !important;
    }
    button#responsive-menu-button {
        z-index: 99999 !important;
    }
    #menu-about-us,
    #menu-inspiration-menu,
    #menu-flooring-menu{
        text-align: left !important;
    }
}
@media(max-width: 667px) {
	.product-detail-layout-6 .dual-button {
		 flex-direction: column!important;
	}
	.filter-locations .fl-col-content > div {
		width: 100%!important;
		padding: 20px;
	}
	.location-col h3.uabb-infobox-title{
	  font-size: 22px!important;
	}
	.loc_services .item h4 {
		font-size: 12px;
	}
	.location-col .fl-module-content.fl-node-content {
		margin: 0px!important;
		width: 100%!important;
	}
	.DataFoundOrNot .dataPhone{
		flex-direction: column;
	}
	.wrapper-filter > div.filter-item h3 {
		font-size: 30px;
		margin-top: 0px!important;
	}
	.wrapper-filter {
		width: 100%;
		flex-direction: column;
	}
	.wrapper-filter > .filter-item{
		width: 100%;
		padding: 10px 20px!important;
	}
	.menuCol > .fl-col-content {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	
.uabb-timeline-right .uabb-events-inner-new .uabb-content, .uabb-timeline-left .uabb-events-inner-new .uabb-content {
    border-top: 30px solid #ffd036;
    margin-top: 80px;
    margin-left: 0px;
    margin-right: 0px;
}

.uabb-day-new.uabb-day-right, .uabb-day-new.uabb-day-left {
   margin-left: 0px!important;
    margin-right: 0px!important;
}

.uabb-events-inner-new {
    padding-left: 0px!important;
}

.uabb-timeline-right .uabb-timeline-marker-wrapper:after, .uabb-timeline-left .uabb-timeline-marker-wrapper:after {
    content: "";
    position: absolute;
    width: 54px;
    border-bottom: 4px solid #000;
    left: 20px;
   z-index: -1;
}
}
@media (max-width: 604px){
	.fl-slide.fl-slide-0 .fl-slide-mobile-photo-img ,  .fl-slide.fl-slide-1 .fl-slide-mobile-photo-img {
	min-height: 200px!important;
}
    button#responsive-menu-button {
        top: 92px !important;
    }
    .top-bar-nav ul#menu-top-bar-menu li a, .top-bar-nav ul#menu-top-bar-menu li a *{
        line-height: 1.5 !important;
    }
    .uabb-masonary .uabb-masonary-item{
         width: 100% !important;
    } 
    .fl-page-header-primary .fl-logo-img {
        max-width: 64% !important;
    } 
}
@media(max-width:480px) {    
    .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item {
        width: 100%;
    }
    .location-top .fl-button{
        text-align: unset;
    }
    .fl-node-5d1f5d4b47fe6 div.uabb-image-carousel .slick-next{
        right: 20px;
    }
    .fl-node-5d1f5d4b47fe6 [dir='rtl'] div.uabb-image-carousel .slick-prev{
        left: 20px;
    }
    .iPadFooter .fl-col-group{
        flex-direction: column;
    }
    .iPadFooter .fl-col-group .fl-col{
        flex: 2;
        width: 100% !important;
        text-align: center;
    }
    ul#menu-copyright-bar-menu{
        justify-content: center;
    }
    .teamRow .fl-col-group > .colHeight {
        min-height: 330px;
        max-height: 330px;
    }
    .teamRow .fl-col-group .fl-col .uabb-image-content img {
        max-width: 210px!important;
    }
}
@media (max-width: 414px){
    button#responsive-menu-button {
        top: 88px !important;
    }
    .fa-2x{
        font-size: 16px !important;
    }
}
@media(max-width:379px) {  
    .top-bar-nav .fl-page-bar-nav>li>a {
        padding: 2px 5px;
    }
    .fl-page-bar-row .col-md-6.text-right{
        padding-left: 5px;
    } 
    .fl-page-bar-row .col-md-6.text-left{
        padding-right: 5px;
    } 
    .fl-page-bar-text font, .top-bar-nav ul#menu-top-bar-menu li a, .top-bar-nav ul#menu-top-bar-menu li a * {
        font-size: 11px !important;
    }
    button#responsive-menu-button {
        top: 80px !important;
    }
}
@media(max-width:374px) {  
    .fl-page-bar{
        display: none;
    }
    button#responsive-menu-button {
        top: 15px !important;
    }
}